<div class="maincontent">
  <table
    width="100%"
    cellpadding="0"
    cellspacing="0"
    border="0"
    class="message"
  >
    <tbody>
      <tr>
        <td>
          <font size="-1"
            ><b>Microsoft Account Team </b
            >&lt;account-security-noreply@accountprotection.microsoft.com&gt;</font
          >
        </td>
        <td align="right"><font size="-1">6 de mayo de 2024, 8:55</font></td>
      </tr>
      <tr>
        <td colspan="2" style="padding-bottom: 4px">
          <font size="-1" class="recipient"
            ><div>For: usuario@movicoders.com</div></font
          >
        </td>
      </tr>
      <hr />
      <tr>
        <td colspan="2">
          <table width="100%" cellpadding="12" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td>
                  <div style="overflow: hidden">
                    <font size="-1">
                      <u></u>
                      <div>
                        <table dir="ltr">
                          <tbody>
                            <tr>
                              <td
                                id="m_7236929832340295984i1"
                                style="
                                  padding: 0;
                                  font-family: 'Segoe UI Semibold',
                                    'Segoe UI Bold', 'Segoe UI',
                                    'Helvetica Neue Medium', Arial, sans-serif;
                                  font-size: 17px;
                                  color: #707070;
                                "
                              >
                                Microsoft Account
                              </td>
                            </tr>
                            <tr>
                              <td
                                id="m_7236929832340295984i2"
                                style="
                                  padding: 0;
                                  font-family: 'Segoe UI Light', 'Segoe UI',
                                    'Helvetica Neue Medium', Arial, sans-serif;
                                  font-size: 41px;
                                  color: #2672ec;
                                "
                              >
                                Password Reset Code
                              </td>
                            </tr>
                            <tr>
                              <td
                                id="m_7236929832340295984i3"
                                style="
                                  padding: 0;
                                  padding-top: 25px;
                                  font-family: 'Segoe UI', Tahoma, Verdana,
                                    Arial, sans-serif;
                                  font-size: 14px;
                                  color: #2a2a2a;
                                "
                              >
                                Use this code to reset the password
                                of your Microsoft account 
                                <a
                                  dir="ltr"
                                  id="m_7236929832340295984iAccount"
                                  class="m_7236929832340295984link"
                                  style="color: #2672ec; text-decoration: none"
                                  href="mailto:us***@movicoders.com"
                                  target="_blank"
                                  >us***@movicoders.com</a
                                >.
                              </td>
                            </tr>
                            <tr>
                              <td
                                id="m_7236929832340295984i4"
                                style="
                                  padding: 0;
                                  padding-top: 25px;
                                  font-family: 'Segoe UI', Tahoma, Verdana,
                                    Arial, sans-serif;
                                  font-size: 14px;
                                  color: #2a2a2a;
                                "
                              >
                                This is your code:
                                <span
                                  style="
                                    font-family: 'Segoe UI Bold',
                                      'Segoe UI Semibold', 'Segoe UI',
                                      'Helvetica Neue Medium', Arial, sans-serif;
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: #2a2a2a;
                                  "
                                  >683812</span
                                >
                              </td>
                            </tr>
                            <tr>
                              <td
                                id="m_7236929832340295984i5"
                                style="
                                  padding: 0;
                                  padding-top: 25px;
                                  font-family: 'Segoe UI', Tahoma, Verdana,
                                    Arial, sans-serif;
                                  font-size: 14px;
                                  color: #2a2a2a;
                                "
                              >
                                If you do not recognize the Microsoft account
                                <a
                                  dir="ltr"
                                  id="m_7236929832340295984iAccount"
                                  class="m_7236929832340295984link"
                                  style="color: #2672ec; text-decoration: none"
                                  href="mailto:us***o@movicoders.com"
                                  target="_blank"
                                  >us***o@movicoders.com</a
                                >, you can 
                                <a
                                  id="m_7236929832340295984iLink2"
                                  class="m_7236929832340295984link"
                                  style="color: #2672ec; text-decoration: none"
                                  href="https://account.live.com/dp?ft=-Do5qxiayNYvVjMOC!5aUE1R3Wpz8t6XgufTMO5E7ZtN6IFgYjAVyopgd4rVeSyElSk3ZtDiFArwAazjxLDVp9YK4LNhDKNDDQzXQd!6Jhb57sI5xETAmgheT5ZlPWFJuM*QbbjHlaBHmb3pbY5mGKnatJLsB91I1v5JExuobUX1F1wydoIG47Q*9GSxktgj3scxjD60Y48pvJBtPAD7EGUqXxrHnlFElI0Tw9SlPreWMS5OfBy0ErbjpRy92qh!3DQ%24%24"
                                  target="_blank"
                                  data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=https://account.live.com/dp?ft%3D-Do5qxiayNYvVjMOC!5aUE1R3Wpz8t6XgufTMO5E7ZtN6IFgYjAVyopgd4rVeSyElSk3ZtDiFArwAazjxLDVp9YK4LNhDKNDDQzXQd!6Jhb57sI5xETAmgheT5ZlPWFJuM*QbbjHlaBHmb3pbY5mGKnatJLsB91I1v5JExuobUX1F1wydoIG47Q*9GSxktgj3scxjD60Y48pvJBtPAD7EGUqXxrHnlFElI0Tw9SlPreWMS5OfBy0ErbjpRy92qh!3DQ%2524%2524&amp;source=gmail&amp;ust=1715064983183000&amp;usg=AOvVaw2gy7EOR3mXai0epIssIJys"
                                  >click here</a
                                >
                                 to remove your email address from it.
                              </td>
                            </tr>
                            <tr>
                              <td
                                id="m_7236929832340295984i6"
                                style="
                                  padding: 0;
                                  padding-top: 25px;
                                  font-family: 'Segoe UI', Tahoma, Verdana,
                                    Arial, sans-serif;
                                  font-size: 14px;
                                  color: #2a2a2a;
                                "
                              >
                                Thanks,
                              </td>
                            </tr>
                            <tr>
                              <td
                                id="m_7236929832340295984i7"
                                style="
                                  padding: 0;
                                  font-family: 'Segoe UI', Tahoma, Verdana,
                                    Arial, sans-serif;
                                  font-size: 14px;
                                  color: #2a2a2a;
                                "
                              >
                                The Microsoft accounts team
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div
                          lang="en"
                          style="margin-top: 20px; margin-bottom: 10px"
                        >
                          <a
                            class="m_7236929832340295984link"
                            href="https://go.microsoft.com/fwlink/?LinkId=521839"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://go.microsoft.com/fwlink/?LinkId%3D521839&amp;source=gmail&amp;ust=1715064983183000&amp;usg=AOvVaw23cXYFUFRXvAeeePxqwZU8"
                            >Privacy Statement</a
                          >
                          <div style="margin-top: 10px">
                            Microsoft Corporation, One
                            <a
                              href="https://www.google.com/maps/search/Microsoft+Way,+Redmond,+WA+98052?entry=gmail&amp;source=g"
                              >Microsoft Way, Redmond, WA 98052</a
                            >
                          </div>
                        </div>
                      </div>
                    </font>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
